<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}"> -->
    <title>Register from</title>
</head>

<body>
    <form action="" method="post">
        {{form.hidden_tag()}}
        {{form.username}}
        {{form.password}}
        {{form.submit}}
    </form>
    <!-- <div id=form>
        <h1>Register Form</h1>
        <form action="" name='form' method="GET">
            <label for="username">username</label>
            <input type="text" id='username' name='username'>
            <br>
            <br>
            <label for="email">email</label>
            <input type="email" id='username' name='username'>
            <br>
            <br>
            <label for="password">password</label>
            <input type="password" id='password' name='password'>
            <br>
            <br>
            <label for="password">confirm password</label>
            <input type="password" id='password' name='password'>
            <br>
            <br>
            <h3><a href="{{url_for('login')}}">have account?login</a></h3>
            <button type="submit" name='login' value="login">SignUp</button> -->
    <!-- </form> -->

    <h3><a href="{{url_for('login')}}">have account?login</a></h3>

    </div>
</body>

</html>